.Banner {
  text-align: center;
}

.Banner-logo {
  animation: Banner-logo-spin infinite 20s linear;
  height: 80px;
}

.Banner-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}

.Banner-title {
  font-size: 1.5em;
}

.Banner-intro {
  font-size: large;
}

@keyframes Banner-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
