.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game-board{
  background-color: rgb(93, 93, 227);
  border: 2px solid rgb(82, 82, 88);
  border-radius: 25px;
  padding-right: 8px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 8px;
  margin: auto;
}
.circle {
  background: #fff;
  border: 2px solid rgb(82, 82, 88);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 50px;
  border-radius: 50px;
}

.circle:focus {
  outline: none;
}

.kbd-navigation .circle:focus {
  background: #ddd;
}

.connect-4 {
  display: flex;
  flex-direction: column;
}

.game-info {
  text-align: center;
  font-size: xx-large;
  margin: 15px;
}

.Red{
  background-color: rgba(228, 20, 20, 0.884);
}

.Yellow{
  background-color: rgb(255, 255, 14);
}

.restart{
background: rgba(227, 28, 28, 0.78);
border: 2px solid rgb(82, 82, 88);
font-size: 20px;
height: 85px;
padding: 0;
text-align: center;
color: white;
width: 85px;
border-radius: 85px;
margin: 15px;
}

.restart-div{
  text-align: center
}